.Footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 125px;
  background-color: #f9fbf2;
  list-style: none;
}

.Footer li {
  margin: 25px;
}

.Footer li:hover {
  color: #02c39a;
  cursor: pointer;
}
